body {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    color: white;
    background-color: black;
    background-image: url(formbg.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

.heading {
    font-weight: lighter;
    text-align: center;
}

.talent {
    font-family: 'Dancing Script', 'Courier New', Courier, monospace;
    background-image: linear-gradient(45deg, #ff69b4, #ffa500, #ffff00);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 5rem;
}

.meeting {
    font-weight: lighter;
    background-image: linear-gradient(45deg, #00f5d4, #889ffb, #2c609f);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 3rem;
}

.container {
    width: 80%;
    height: auto; /* Change to auto for better wrapping */
    max-width: 600px; /* Limit max width for the container */
    margin: 0 auto; /* Center the container */

}

.backdrop {

    background: rgba(0, 0, 0, 0.7); /* Dark background with transparency */
    backdrop-filter: blur(10px); /* Blur effect */
      -webkit-backdrop-filter: blur(10px);
    padding: 30px; /* Padding around the form */
height: 100%;
    width: 100%; /* Full width */

}

button {
    border: none !important;
    background-image: linear-gradient(45deg, #ff69b4, #ffa500, #ffff00);
    transition: background-image 1s ease, transform 1s ease;
   
}

button:hover {
    background-image: linear-gradient(45deg, #00f5d4, #889ffb, #2c609f);
    transform: scale(1.05);
}

.fa-exclamation-circle {
    display: none;
    color: red;
}
